.home {
  margin: auto;
  margin-top: 60px;
  text-align: center;
  background-color: white;
  width: 600px;
  height: auto;
  border: 1px solid;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 70px 1px #ff9f72;
  opacity: 95%;
}

.row {
  display: flex;
}

.col1{
  flex: 1; 
  text-align: center;
  padding: 20px;
  padding-top: 130px;
  background-color: #f74902;
}

.col1 h2 {
  color: white;
  font-size: 35px;
  margin-bottom: 130px;
}

.col1 p {
  color: white;
  font-size: 17px;
}

.col2{
  flex: 1;
  padding: 10px 20px 20px 20px;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,  select {
  text-indent: 5px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  height: 40px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}



.button {
  font-weight: bold;
  font-size: 16px;
  background-color: #f74902;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #ffab89;
  color: #f74902;
}

a {
  position: sticky;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: inherit;
}

h2 {
  font-weight: bold;
  font-size: 35px;
  color: #f74902;
  margin-bottom: 35px;
}

.signup {
  margin-top: 100px;
  text-align: center;
  background-color: white;
  padding: 5px;
  width: auto;
  max-width: 390px;
  border: 1px solid;
  border-radius: 20px;
  height: auto;
  box-shadow: 20px 20px 100px 10px #ff9f72;

}

.signup h2 {
  margin-bottom: 30px;
}

a {
  position: sticky;
  font-size: 14px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #f74902;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ff5d1d;
  color: black;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px){
  .home {
    width: auto;
    height: auto;
  }

  .row {
    display: block;
  }

  .col1 {
    height: 60px;
  }

  .col1 h2 {
    margin-top: -70px;
    margin-bottom: 40px;
  }

  .col1 p {
    font-size: larger;
  }

  h2 {
    margin-bottom: 40px;
  }

  .signup {
    width: auto;
  }

}